{% extends "base.html" %}
{% block title %}Modifier mon profil{% endblock %}

{% block content %}
    <div>
        <h1>Clients</h1>
    </div>

    <div>
        <form method="post">
            <p>
                <input type="text" name="search" id="search">
                <input type="submit" value="Valider" />
            </p>
        </form>
    </div>

    <div class="conseillers-list">
        {% if clients %}
        {% for client in clients %}
            <div class="conseiller-card">
                <div class="conseiller-info">
                    <p><strong>{{ client.get('nom') }} - {{ client.get('prenom') }}</strong></p>
                    <a href="/profilclient/{{ client.id }}" class="view-btn">Voir profil</a>
                </div>
            </div>
        {% endfor %}
        {% else%}
        <p>
            
            AUNCUN CLIENTS

        </p>

        {% endif %}
        
    </div>
{% endblock %}
