{% extends "base.html" %}
{% block title %}Contrat{% endblock %}

{% block content %}
        <div>
            <h1>Contrats</h1>
        </div>

         <p>
            <a  href="{{ url_for('conseiller_ajout_contrat') }}" class="btn-secondary">Ajout contrat</a>
        </p>

        <form method = "post">
                <p>
                    <input type = "text" name = "search" id="search">
                    <input type="submit" value="Valider" />
                </p>

        </form>
       




        <div class="contrat-grid">
            {% for contrat in contrats %}
              <a href="/profilcontrat/{{ contrat.numero }}" class="contrat-card">
                Contrat {{ contrat.numero }}
              </a>
            {% endfor %}
          </div>
       
    {% endblock %}
