{% extends "base.html" %}
{% block title %}Contrat client{% endblock %}

{% block content %}

<div class="contract-details">
    <h1>Contrat</h1>

    <div class="info-grid">
        <div><strong>Numéro :</strong> {{ contrat.get('numero') }}</div>
        <div><strong>Nas Client :</strong> {{ contrat.get('nas_client') }}</div>
        <div><strong>Risque :</strong> {{ contrat.get('risque') }}</div>
        <div><strong>Type de compte :</strong> {{ contrat.get('type_compte') }}</div>
        <div><strong>Taux d’intérêt :</strong> {{ contrat.get('taux_interet') }}</div>
        <div><strong>Bénéficiaires :</strong> {{ contrat.get('beneficiaires') }}</div>
        <div><strong>Montant initial :</strong> {{ contrat.get('mont_initial') }}</div>
        <div><strong>Montant mensuel :</strong> {{ contrat.get('mont_mensuel') }}</div>
        <div><strong>Client :</strong> <a href="/profilclient/{{ client.id }}">{{ client.nom }} - {{ client.prenom }}</a></div>
    </div>

    <div class="btn-group">
        <a class="btn-secondary" href="{{ url_for('modifier_contrat', numero=contrat.get('numero')) }}">Modifier Contrat</a>
        <a class="delete-btn" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce conseiller ?');" href="{{ url_for('supprimer_contrat', numero=client.get('numero')) }}">Supprimer Contrat</a>
    </div>
</div>

{% endblock %}
